In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("アメリカ.xlsx - Sheet1.csv")

In [11]:
df = pd.DataFrame(data)
df = df.replace( '\n', '', regex=True)

In [12]:
df.drop(columns=["Unnamed: 1", "Unnamed: 2", "Unnamed: 3"])

,Title,cities,categories,Question
0,PCR検査,ロサンゼルス,医療,はじめまして。 LAXの空港から1時間以内で日本帰国のためのPCR検査できるところを探してい...
1,デトロイトからウィンザーの行き方を教えてください,デトロイト,観光・レジャー,９月にデトロイトへの旅行を計画しています。２週間のうち３泊程度時間をとってトロントを訪れよう...
2,ニューヨークでの生活費について,ニューヨーク,生活,ニューヨークにお住まいの方にお聞きしたいのですが、主人がコロナ禍よりニューヨークへ単身赴任し...
3,クレジットスコアがない状態での賃貸契約,ダラス,住居,来年ダラス移住を考えており、賃貸に関してご質問です。パートナーはアメリカ国籍を保持する日本在...
4,サムライ寿司,ニュージャージ,スポーツ,40代男性ジャパニーズアメリカンです。 運動不足の為、一緒に軽くスポーツできる相手（男性）を...
...,...,...,...,...
705,職探しに有効な方法を探しています。,シアトル,仕事,最近、コロラド州から、シアトルへ引っ越してきました。職を探し中です。シアトルへ来てから、職の...
706,美味しいてんぷらを出すレストランを教えてください,シアトル,グルメ,日本の美味しい本当のてんぷらを食べたいです。多くのアジアンレストランや和食レストランでは、既...
707,ラスベガスの水事情について,ラスベガス,生活,ラスベガスで生活されている方に質問させていただきたいのですが、ラスベガスでの一世帯辺りの水道...
708,お絵かきソフトの使い方を教えてくださる方を探しています。,ポートランド,パソコンスキル,フォトショップやイラストレーターなど、高価なソフトウエアを購入せずにお絵かきソフトを基本から...
709,日本人はすべての力を使い韓国のプロパガンダと戦うべき,シアトル,政治・時事,日本人はすべての力を使い韓国のプロパガンダと戦うべき、世界に真実を発信を―前駐日イスラエル大...

In [ ]:
df.to_csv("output.csv")